*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body{
    display: flex;
    align-items: center;
    justify-content: center
}

.container{
    width: 75%;
    border: 1px solid #000;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

h2{
    color: rgb(50, 103, 194);
}

.IN{
    color: #fff;
    display: inline-block;
    background-color: rgb(50, 103, 194);
    border-radius: 2px;
    padding: 10px;
    margin: 2px;
}

.login-box{
    
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    width: 35%;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

}

.content-login-box{
    position: relative;
    
}
input{
    
    display: block;
    width: 90%;
    margin: auto;
    border-radius: 4px;
    height: 45px;
    margin-bottom: 20px;
    margin-top: 10px;
    border: 1px solid #222;
    cursor: pointer;
    

}



input[type="text"]{
    padding: 20px;
}

.content-login-box{
    margin-left: 10px;
    margin-right: 10px;
}

ul{
    margin-top: 65px;
    display: flex;
    list-style: none;
    direction: ltr;
    justify-content: space-between;
}

ul li img{
    width: 80px;

}
li{
    font-size: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;

}

hr{
    width: 40%;
    display: inline-block;
    margin:0 5px;
    color: rgba(0, 0, 0, 0.5);
}

form p a {
    margin-left: 10px;
}

a{
    text-decoration: none;
}


input[type="button"]{
    border-radius: 30px;
    height: 40px;
}


#password-field{
    position: relative;
}

#show-password{
    position: absolute;
    top: 39.8%;
    right: 30px; 
    font-size: 15px;
    transform: translateY(-20%);
    background-color: #fff;
    border: none;
    color: rgb(58, 90, 197);
    cursor: pointer;
}

.or{
    text-align: center;
}

#sineIn{
    background-color: #0077b5;
    color: #fff;
}


.link-join-now{
    margin-top: 40px;
    text-align: center;
}

.header-login-box h1,p {
    padding-left: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
}